.wrapper {

}

.lastPurchaseWrapper {
    overflow-y: scroll;
    max-height: 480px;
}

.divP {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1100px 47px;
    gap: 33px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.counter {
    border: 1px solid red;
    font-size: 14px;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    white-space: nowrap;
    font-weight: bold;

}