.cartWrapper {
    width: 1200px;
    max-height: 700px;
    padding: 15px 10px 10px 10px;
    border: 1px solid red;
    border-radius: 10px;
    overflow: auto;

}

.cartTitle {
    height: 50px;
    font-size: 20px;
    border: 1px solid red;
    margin-bottom: 30px;
    line-height: 44px;
}

.cartAndButtonsWrapper {
    min-height: 580px;
    display: grid;
    grid-template-columns: 580px 580px;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    border: 1px solid greenyellow;
    border-radius: 10px;
}


.cart {
    border: 1px solid blue;
    border-radius: 10px;
    overflow-y: scroll;
    height: 560px;
}

.totalPrice {
    border: 1px solid rgb(0, 255, 242);

}

.cartButtons {
    border: 1px solid orchid;
    border-radius: 10px;
    padding: 15px 10px ;
    display: grid;
    align-items: center;
}

.cartButtons button {
    height: 124px;
    max-height: 124px;
    
}

.confirm {
    background-color: rgb(85, 192, 129);
    border: 5px solid green;
    font-size: 24px;
}

.clear {
    border: 5px solid rgb(129, 32, 32);
    background-color: rgb(252, 46, 46);
    font-size: 24px;
}

.lastCart {
    border: 5px solid rgb(37, 37, 129);
    background-color: rgb(78, 78, 238);
    font-size: 24px;
}