*{
    padding: 0;
}

.container{
    width: 1200px;
    max-height: 650px;
    padding: 0px 5px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}
